.navbar {
  padding: 15px 15px;
}

.nav_brands {
  font-size: 22px;
  font-weight: 800;
}

.nav-link {
  margin-left: 20px;
  color: black !important;
}

.nav_text {
  font-size: 14px;
  font-weight: 700;
}